.header{
    position: fixed;
    min-width: 275px;
    width: 100%;
    max-width: 2500px;
    height: 140px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 5px;
    z-index: 200;
    top: 0;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
}




@media (min-width:720px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 5px 10px;
        flex-direction: row;
        height: 6vh;
    }
}