.badge{
    display: inline-block;
    border-radius: 20px;
    min-width: 40px;
    padding: 4px 10px;
    height: max-content;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.badge >p{
    font-size: 1.4rem;
}

.low{
    color: #805b10;
    background-color: #ffff00;
}

.medium{
    color: #5c2f03;
    background-color: #d76926;
}

.high{
    color: #540202;
    background-color: #eb1919;
}