.form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
}

.detail{
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding:0 5px;
}

/* Estilo base de la barra */
.detail::-webkit-scrollbar {
  width: 8px; /* ancho vertical */
  height: 8px; /* alto horizontal */
}

/* Fondo del scrollbar */
.detail::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* El "thumb", o sea el botón que se mueve */
.detail::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Al pasar el mouse sobre el thumb */
.detail::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.buttons-container{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 20px;
    padding-top: 10px;
    border-top: 2px solid var(--border-color);
}
