.column-container{
    min-width: 200px;
    width: 100%;
    max-width: 500px;
    height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding: 10px 0;
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
}

.card-container{
    min-width: 200px;   
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 15px;
    overflow-y: auto;
    height: 80vh;
    max-height: 80vh;
    padding: 10px 10px;
}

.title-color{
    content: " ";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 100%;
}

.title-text{
  font-size: 1.4rem;
}

.title-new{
  background-color: #0780eb;
} 

.title-process{
  background-color:#ffc642 ;
}

.title-stopped{
  background-color:#b4b3b3 ;
}

.title-completed{
  background-color: #6de15e;
}

.title-canceled{
  background-color: #ef476f ;
}

.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    width: 100%;
    padding: 10px 10px;
}


/* Estilo base de la barra */
.card-container::-webkit-scrollbar {
  width: 8px; /* ancho vertical */
  height: 8px; /* alto horizontal */
}

/* Fondo del scrollbar */
.card-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* El "thumb", o sea el botón que se mueve */
.card-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Al pasar el mouse sobre el thumb */
.card-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
