.main{
  min-width: 275px;
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  
}

@media (min-width:1200px) {
  .main{
    flex-direction: row;
    align-items: start;
    padding-left: 60px;
  }
}