.card{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: 2px solid #2b2b2b;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .9);
    position: relative;
}

.title-container{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.title{
    font-size: 1.4rem;
}

.detail{
    cursor: pointer;
    position: relative;
    padding:2px 5px;
    border-radius: 5px;
    transition: .3s ease-in-out all;
}

.detail:hover{
    transform: scale(1.4);
}

.description{
    margin: 10px 0;
    font-size: 1.2rem;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding-top: 10px;
    font-size: 1.2rem;
}

.date-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.actions{
    display: flex;
    column-gap: 10px;
}