.sidebar{
  position: fixed;
  bottom: -50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 50%;
  padding: 10px;
  gap: 10px;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  z-index: 100;
  overflow: hidden;
  background-color: var(--primary-color);
  transition: .2s ease-in-out all;
}

.open{
    bottom: 0;
}

.navlink{
    width: 100%;
    cursor: pointer;
}

.inactive{
    color: rgb(164, 164, 164);
}


.active{
    border-radius: 5px;
    background-color: var(--element-background-color);
    color: var(--text-color);
}

.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;   
    transition: .3s ease-in-out all;
    border-radius: 5px;
}

.link:hover{
    background-color: var(--element-background-color);
    color: var(--text-color);
}

.sidebar:hover .active .link{
    background-color:var(--element-background-color);
}

.icon{
    padding: 5px;
    border-radius: 5px;
}

.label{
    padding: 5px;
    font-size: 1.4rem;
}


@media (min-width:720px) {
  
    .sidebar{
        width: 50px;
        height: 100%;
        bottom: auto;
        border-top: none;
    }

    .sidebar:hover{
        width: 200px;
    }

}

