.modal-container{
    display: flex;
    flex-direction: column;
    min-width: 260px;
    width: 100%;
    max-width: 500px;
    height: 360px;
    max-height: 480px;
    padding: 20px;
    border: 2px solid #2b2b2b;
    border-radius: 20px;
    box-shadow: 0px 0px 60px 20px rgba(0, 0, 0, 0.8);
    background-color: var(--secondary-color);
    color: var(--text-color);
    z-index: 1000;
}

.close{
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 5px;
    transition: .3s ease-in-out all;
}

.close:hover{
    transform: scale(1.4);
}

.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 1.4rem;
    border-bottom: 2px solid #2b2b2b;
    height: 10%;
}

.modal-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    height: 90%;
}


