.header{
    min-width: 275px;
    width: 100%;
    max-width: 2500px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}


@media (min-width:720px) {
    .header{
        flex-direction: row;
    }
}