.badge{
    display: inline-block;
    border-radius: 20px;
    min-width: 40px;
    padding: 4px 10px;
    height: max-content;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.badge >p{
    font-size: 1.2rem;
}

.low{
    color: #0028da;
    background-color: #7d8fe2;
}

.medium{
    color: #805b10;
    background-color: #ffea00;
}

.high{
    color: #750101;
    background-color: #cc4141;
}