.card{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .9);
    position: relative;
    display: block;
}
