.main{
  display: flex;
  flex-direction: row;
  border-top: 1px solid #2b2b2b;
  width: 100%;
  margin-top: 140px;
}

.button{
  justify-self: end;
}

@media (min-width:720px) {
  .main{
    margin-top: 50px;
  }

  .button{
  display: none;
  }
}
